body {
    background-color: #222329;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



.hidden {
    display: none;
}

.mdl-dialog {
    min-width:280px;
    width: fit-content;
}

.applicationContainer {
    background-color: white;
    box-shadow: 0 0 3px grey;
    padding: 0;
    margin: 20px auto;
    max-width: 800px;
}

.applicationHeader {
    h1 {
        font-weight: 200;
        float: left;
        line-height: 0.8em;
        margin-top: 34px;
    }

    .banner {
        background-image: url(/images/title.jpg);
        width: 100%;
        padding-bottom: 20%;
        background-size: cover;
        background-position: center;
        clear: both;
    }

    .logo {
        float: left;
        margin: 10px 30px 10px 20px;
        width: 92px;
    }
}