.eventDescription {
    font-size: 18px;
    line-height: 20px;
    padding:20px 30px;

    .mdl-button {
        clear: both;
        display: block;
        margin: 30px auto;
        height: 50px;
        max-width: 270px;
        width: 100%;
        font-size: 17px;
        font-weight: 300;
    }

    .logos {
        text-align: center;


        .icon {
            width: 23%;
            padding-bottom: 13%;
            margin: 4%;
            background-size: contain;
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
        }

        .react {
            background-image: url(/images/logos/react.png);
        }

        .flux {
            background-image: url(/images/logos/flux.png);
        }

        .responsive {
            background-image: url(/images/logos/responsive.png);
        }

        .sass {
            background-image: url(/images/logos/sass.png);
        }

        .sheets {
            background-image: url(/images/logos/sheets.png);
        }

    }
}